

<router-outlet></router-outlet> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title> Ur Keep</title>
    <!-- <link href="css/style.css" type="text/css" rel="stylesheet" /> -->
</head>
<body>
    <!-- start header div -->

  
    <div                                                   id="example1">
         
      
        <h1 style='margin-left: 40%;'>Ur Keep</h1>
        <h3 style="margin-left: 37%;">Sign In to continue...</h3 >

  
         

        <form action="" method="post">
       <!-- //     <label for="email">E-mail:</label> -->
            <div id = 'ra'>
              <input id='mail' type="email" name="email" value=" " placeholder="example@gmail.com"/>
            </div>
         
            <br>
            <div id = 'ra'>
              <input id='mail' type="password" name="password" value="" placeholder="password"/>
            </div>
             
            <input type="submit" class="submit_button" value="Sign In" style="margin-left: 43%;
            margin-top: 4%;" />
        </form>
         
    </div>
 
</body>
</html>