
#example1 {
    border: 2px solid red;
    padding: 10px;
    border-radius: 25px;
    margin-left: 26%;
    margin-top: 10%;
    margin-right: 26%;
  }

  #mail{
    width: 69%;
    margin-left: 15%;
  }